/*
  graphData
  graph-data
*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "./3d-force-graph.css";

graph-data {
  font-family: "Atkinson Hyperlegible", sans-serif;

  display:block;
  position: relative;

  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  left:0px;
  top: 0px;


  .node-link {
    color: dodgerblue;
    cursor: pointer;
  }
}

graph-data h1, graph-data h2, graph-data h3 {
  text-transform: uppercase;
}



graph-data .node-label {
  display: none;
}

graph-data > *::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

graph-data > * {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

graph-data summary {
  font-style: italic;
  cursor: pointer;
}

graph-data dialog {
  position: fixed;
  width: 100%;
  top: 50%;
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
}

graph-data .node-label.hovered {
  display: block;
}

graph-data #force-graph-overlay {
  position: absolute;
  z-index: 1000;
  left: 0.25em;
  top: 0.25em;
  padding: 1em 1em 2em 1em;
  max-width: 20em;
  max-height: calc(100% - 4em);
  margin-bottom: 1em;
  overflow: scroll;
  background-color: rgba(0,0,0,0.7);
}

